<!DOCTYPE html>
<html  ng-app="silkcloudChat">
<head lang="en">
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>客服聊天</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/basic.css"/>
</head>
<body ng-controller="chatController">
<div id="box" >
    <div class="tapbarWrap">
        <div class="setting-div" ng-show="showSettingPanel">
            <div class="upper-beacon"></div>
            <div class="setting-item">
                {{"playNotification" | rTranslate}}
                <span class="slide-bar-span"><slide-bar bind-on="{{constants.NOTIFICATION}}"></slide-bar></span>
            </div>
        </div>
        <div class="setting-div setting-task list-group" ng-show="status.showAllCsrs">
            <div class="upper-beacon"></div>
            <li class="list-group-item" ng-repeat="onlineCsr in tempData.onlineCsrs" ng-click="Events.forwardTo(onlineCsr.csrId)" >
                <span class="btn-block">{{"forwardTo" | rTranslate}}</span>
                <span>{{onlineCsr.csrName}}</span>
            </li>
        </div>
        <div class="topbar">
            <div class="iconf iconf_setting" ng-click="Events.enableSettingPanel()"><span class="glyphicon glyphicon-cog"></span></div>
            <div class="iconf iconf_clear"></div>
            <div class="iconf iconf_clear"></div>
            <div class="iconf iconf_clear"></div>
            <div class="iconf iconf_info">
                <span class="info iconf_user" ng-click="Events.showCsrsMetaInfo()">{{csr.csrName}}</span>
                <span class="info iconf_time"><span id="minutes">00</span>:<span id="seconds">00</span></span>
            </div>
        </div>
        <div class="sub-nav"  id="csrList_header" ng-show="currentConversation==null">
            <!--<a href="#inReception" class="nav-list" data-toggle="tab">{{inReception}}</a>-->
            <!--<a href="#myCustomers" class="nav-list" data-toggle="tab">{{myCustomers}}</a>-->
            <!--<a href="#allCustomers" class="nav-list" data-toggle="tab">{{allCustomers}}</a>-->
            <a href="javascript:;" class="nav-list" id="in_nav" ng-click="Events.switchToInReception()"
               ng-class="{'selected':status.currentType==constants.IN_RECEPTION}">{{"inReception" | rTranslate}}</a>
            <a href="javascript:;" class="nav-list" id="my_nav" ng-click="Events.switchToMyCustomers()"
               ng-class="{'selected':status.currentType==constants.MY_CUSTOMERS}">{{"myCustomer" | rTranslate}}</a>
            <a href="javascript:;" class="nav-list" id="all_nav" ng-click="Events.switchToAllCustomers()"
               ng-class="{'selected':status.currentType==constants.ALL_CUSTOMERS}">{{"allCustomers" | rTranslate}}</a>
        </div>
        <div class="session-nav" id="conversation_header" ng-show="currentConversation!=null">
            <div class="iconf iconf_back" ng-click="Events.backToList()"><span class="glyphicon glyphicon-chevron-left"></span></div>
            <div class="iconf iconf_clear"></div>
            <div class="iconf iconf_clear"></div>
            <div class="iconf iconf_clear" ng-click="Events.onSession()">{{session}}</div>
            <div class="iconf iconf_userinfo" ng-click="Events.onDeails()">{{details}}</div>
            <div class="iconf iconf_userinfo" ng-click="Events.onOrders()">{{orders}}</div>
            <div class="iconf iconf_task" ng-show="status.currentType == constants.IN_RECEPTION && currentConversation != null"
                 ng-click="Events.showAllOnlineCsrs()"><span class="glyphicon glyphicon-share-alt"></span></div>
        </div>
    </div>
    <div class="contentWrap">
        <div class="tabCont" ng-show="status.showTabContents&&currentConversation==null">
            <div class="feed-loading hid">
                <span>loading</span>
            </div>
            <div class="dataCont">
                <div ng-repeat="conversation in conversationList"
                     ng-class="{'conversation-selected':currentConversation == conversation}"
                     ng-click="Events.selectDialog(conversation,$event)">
                    <div class="delete-customer conversation-operation-panel"
                         title="{{'removeCustomer' | rTranslate}}"
                         ng-click="Events.removeCustomer($event,conversation)"
                            ></div>

                    <div class="gone" data-ng-show="conversation.customer.hasGone"></div>
                    <span style="display: inline-block;float: left;position: relative">
                    <img ng-src="{{conversation.customer.avatar}}" class="avatar"/>

                        <span class="circle-count"
                              ng-if="conversation.__unreadCount > 0">
                            {{conversation.__unreadCount}}
                        </span>
                    </span>
                    <div class="conversation-name-and-last-reply">
                    <span style="display: block;margin-bottom:10px;">
                        {{conversation.customer.name | lengthLimit:18}}
                    </span>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <!--<div class="tab-pane" id="myCustomers">myCustomers</div>-->
                <!--<div class="tab-pane" id="allCustomers">allCustomers</div>-->
            </div>
        </div>
        <div class="tabCont" ng-show="currentConversation!=null">
            <div class="message-conversation-info-area">
                <div class="feed-loading hid">
                    <span>loading</span>
                </div>
                <div class="dataCont" ng-show="!status.showInfo">
                        {{currentConversation.messages}}
                    <div class="usrInput"></div>
                </div>
                <div class="dataCont" ng-show="status.showInfo&&!status.showOrder">{{currentConversation.customer.orders}}</div>
                <div class="dataCont" ng-show="status.showInfo&&status.showOrder">{{currentConversation.customer.name}}</div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.js"></script>
<!--<script src="js/index.js"></script>-->
<script src="js/chat.module.js"></script>
</body>
</html>