body{
    background-color: #fff;
    color: #000;
}
.topbar{
    background-color: #333;
    color:#fff;
}
.topbar a:link{
    color: #fff;
}
.topbar a:hover{
    color:#ccc;
}
.sub-nav,.session_nav{
    background-color: #eee;
    color:#000;
}
.sub-nav a:link{
   color:#000;
}
.sub-nav a:hover{
    color:#333;
}
.sub-nav a:active{
    color: #000;
    background-color: #fff;
}
.contentWrap{
    background-color: transparent;
    color: #000;
}
