<!DOCTYPE html>
<html  ng-app="csr_chat">
<head lang="en">
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>客服聊天</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/basic.css"/>
</head>
<body ng-controller="listControler">
<div id="box" >
    <div class="tapbarWrap">
        <div class="topbar">
            <a class="iconf iconf_setting" href="javascript:;" title="setting">setting</a>
            <div class="iconf iconf_clear"></div>
            <div class="iconf iconf_info">
                <a class="info iconf_user" href="javascript:;" title="user">gulan hu</a>
                <span class="info iconf_time" href="javascript:;" title="time">time</span>
            </div>
        </div>
        <div class="sub-nav"  id="csrList_header" ng-show="!showConversation">
            <a href="javascript:;" class="nav-list" id="in_nav" ng-click="loadInReceptionList()">{{inReception}}</a>
            <a href="javascript:;" class="nav-list" id="my_nav" ng-click="loadMyCustomersList()">{{myCustomers}}</a>
            <a href="javascript:;" class="nav-list" id="all_nav" ng-click="loadAllCustomersList()">{{allCustomers}}</a>
        </div>
        <div class="sub-nav" id="conversation_header" ng-show="showConversation">
            <div class="iconf_back">
                <button class="btn navbar-btn">back to the last page</button>
            </div>
            <div class="iconf_clear"></div>
            <div class="iconf_setting">
                <button class="btn btn-primary">zhuan</button>
            </div>
        </div>
    </div>
    <div class="contentWrap">
        <div class="tabCont" ng-show="showInRecept">
            <div class="feed-loading hid">
                <span>loading</span>
            </div>
            <div class="dataCont">
                <h1>in_list</h1>
            </div>
        </div>
        <div class="tabCont" ng-show="showMy">
            <div class="feed-loading hid">
                <span>loading</span>
            </div>
            <div class="dataCont">
                <h1>my_list</h1>
            </div>
        </div>
        <div class="tabCont" ng-show="showAll">
            <div class="feed-loading hid">
                <span>loading</span>
            </div>
            <div class="dataCont">
                <h1 ng-click="loadConversation()">all_list</h1>
            </div>
        </div>
    </div>
    <div id="msgBox" ng-show="showConversation">
        <div class="feed-loading">
            <span>loading</span>
        </div>
        <div class="dataCont"></div>
        <div class="usrInput"></div>
    </div>
</div>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/angular/angular.min.js"></script>
<script src="./js/index.js"></script>
</body>
</html>